<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <img
        src="../../assets/WhatsApp Image 2023-10-31 at 12.13.12_362ecbcf.jpg"
        alt="profile picture"
        width="580"
        height="700"
        class="rounded circle"
      />
    </div>
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <p>
          I'm a dedicated and analytical BCom graduate with a passion for
          numbers and a flair for business. My academic journey has equipped me
          with a solid foundation in finance, accounting, marketing, and
          management. I thrive on solving complex problems, making data-driven
          decisions, and optimizing financial strategies. I'm a lifelong
          learner, constantly seeking opportunities to expand my knowledge and
          stay ahead in the ever-evolving world of business. With a keen eye for
          detail and a commitment to excellence, I'm ready to contribute my
          skills and enthusiasm to any team or project. Let's connect and
          explore how I can add value to your organization.
        </p>
      </div>
    </div>
  </div>
</div>
